<%= form_for(@person, {:url => api_v1_person_path, :id=>"edit_profile"}) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div>
      <%= f.submit "Save" %>
    </div>
    <table id="edit_person">
    <tr><td>
        <%= f.label :first_name %></td>
       <td>
        <%= f.text_field :first_name %>
       </td>
    </tr>
    <tr>
        <td><%= f.label :last_name %></td>
        <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
        <td><%= f.label :role %></td>
        <td><%= f.text_field :role %></td>
    </tr>
    <tr>
      <td><%= f.label :company %></td>
      <td><%= f.text_field :company %></td>
     </tr>
    <tr>
      <td><%= f.label :location %></td>
      <td><%= f.text_field :location %></td>
    </tr>
      <tr>

      <td><%= f.label :keywords, "Personal tags",  :placeholder=>"ecommerce social media investing startups" %></td>
      <td><%= f.text_field :keywords %></td>
      </tr>
      <tr>

      <td><%= f.label :looking_for, :placeholder=>"ecommerce social media investing startups" %></td>
      <td><%= f.text_field :looking_for %></td>
      </tr>
      <tr>

      <td><%= f.label :email %></td>
      <td><%= f.text_field :email %></td>
      </tr>
      <tr>

      <td><%= f.label :contact_permission, "Let attendees contact me." %>
      <td><%= f.check_box :contact_permission %>
      </tr>
      </table>

      <%= f.submit "Save" %>
<% end %>
