<%= form_for(@person, {:url => api_v1_person_path, :id=>"edit_profile"}) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.submit "UPDATE", :style=>"width:100%;margin-bottom:-12px;" %>
    <br />
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    <br />
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    <br />

        <%= f.label :role %>
        <%= f.text_field :role %>
    <br />

      <%= f.label :company %>
      <%= f.text_field :company %>
    <br />

      <%= f.label :location %>
      <%= f.text_field :location %>
    <br />

       <%= f.label :keywords, "Keywords that describe you (i.e. CEO, e-commerce, startup" %>
          <%= f.text_field :keywords %>
    <br />

       <%= f.label :looking_for, "I want to meet (i.e., designers, marketers, CEOs, investors)"   %>
       <%= f.text_field :looking_for %>

       <%= f.label :email %><%= f.text_field :email %>
       <br />
       <br />

      <%= f.check_box :contact_permission, :style=>"padding-top:3px;" %> <%= f.label :contact_permission,
      "Let attendees contact me", :class=>"inline_checkbox" %>

      <br />
      <%= hidden_field_tag :auth_token, @person.authentication_token %>
    <%= f.submit "UPDATE" %>

<% end %>
