<%= form_for(@person, {:url => api_v1_person_path, :id=>"edit_profile"}) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table class="save_button" >
    <tr><td width="15%"></td><td><%= f.submit "UPDATE" %></td><td width="15%"></td></table>
    <table id="edit_person">
    <tr>
        <td>
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
       </td>
    </tr>
    <tr>
        <td><%= f.label :last_name %><br />
        <%= f.text_field :last_name %></td>
    </tr>
    <tr>
        <td><%= f.label :role %><br />
        <%= f.text_field :role %></td>
    </tr>
    <tr>
      <td><%= f.label :company %><br />
      <%= f.text_field :company %></td>
     </tr>
    <tr>
      <td><%= f.label :location %><br />
      <%= f.text_field :location %></td>
    </tr>
      <tr>
          <td><%= f.label :keywords, "Keywords that describe you (i.e. CEO, e-commerce, startup" %>
         <br />
          <%= f.text_field :keywords %></td>
      </tr>
      <tr>
          <td><%= f.label :looking_for, "I want to meet (i.e., designers, marketers, CEOs, investors)"
          %><br /><%= f.text_field :looking_for %></td>
      </tr>
      <tr>
          <td><%= f.label :email %><br /><%= f.text_field :email %></td>
      </tr>
      <tr>

      <td><%= f.check_box :contact_permission, :style=>"padding-top:3px;" %> <%= f.label :contact_permission,
      "Let attendees contact me" %>
      </tr>
      </table>
      <%= hidden_field_tag :auth_token, @person.authentication_token %>
    <table class="save_button" >
      <tr><td width="15%"></td><td><%= f.submit "UPDATE" %></td><td width="15%"></td></table>
<% end %>
