<div id="profile_detail">
    <div id="profile_subhead">
        <div id="left"><- <%= link_to 'Back', api_v1_people_path(:auth_token => @current_user.authentication_token)
        %></div>
        <div id="right"><%= @person.first_name%> <%= @person.last_name%></div>
    </div>
    <% if @person.profile_photo.present? %>
        <%= image_tag @person.profile_photo %>
    <% end %>
  <p>
    <b>First name:</b>
    <%= @person.first_name %>
  </p>
    <p>
      <b>Last name:</b>
      <%= @person.last_name %>
    </p>

    <p>
      <b>Role:</b>
      <%= @person.role %>
    </p>

    <p>
      <b>Company:</b>
      <%= @person.company %>
    </p>

  <p>
    <b>Location:</b>
    <%= @person.location %>
  </p>
      <% if @person.contact_permission? %>
      <p>
      <b>Email:</b>
      <%= mail_to @person.email, @person.email %>
    </p>
    <% end %>
  <p>
    <b>Looking For:</b>
    <%= @person.looking_for %>
  </p>

  <p>
    <b>Personal Keywords:</b>
    <%= @person.keywords %>

</div>