<div id="profile_detail">
    <div id="profile_subhead">
        <div id="left"><- <%= link_to 'Back', api_v1_people_path(:auth_token => @current_user.authentication_token)
        %></div>
        <div id="right"><%= @person.first_name%> <%= @person.last_name%></div>
    </div>

    <%= image_tag @person.get_image %>
    <p>
      <b>Last name:</b>
      <%= @person.last_name %>
    </p>

    <p>
      <b>Role:</b>
      <%= @person.role %>
    </p>

    <p>
      <b>Company:</b>
      <%= @person.company %>
    </p>

    <p>
      <b>Email:</b>
      <a href="mailto://<%= @person.email%>"><%= @person.email%></a>
    </p>

  <p>
    <b>Looking For:</b>
  </p>

  <p>
    <b>Personal Keywords:</b>
    <%= @person.keywords %>

</div>