<div id="profile_detail_view">
   <% unless @person.is_me?(@current_user) %>
        <% if @from_view.present?  # from search result path  %>
            <% if @from_view.eql?("search") %>
              <%=  button_to "","/api/v1/search?auth_token=#{@current_user.authentication_token}&query=#{@query}", :method => :post, :class=>"close_link" %>
            <% elsif @from_view.eql?("following") %>
              <%= link_to image_tag("backicon.png"), api_v1_followed_people_path(:auth_token => @current_user.authentication_token), :id => "profile_detail_left"  %>
          <% elsif @from_view.eql?("followers") %>
              <%= link_to image_tag("backicon.png"), follows_me_api_v1_followed_people_path(:auth_token => @current_user.authentication_token), :id => "profile_detail_left"  %>

        <% else %>
            <%= link_to image_tag("backicon.png"), api_v1_people_path(:auth_token => @current_user.authentication_token), :id => "profile_detail_left"  %>
        <% end %>
      <% end %>
     <% end %>
        <% if @person.profile_photo.present? %>
           <div id="person_detail_imagebox">
                <%= image_tag @person.profile_photo %>
                   <%= render :partial => "api/v1/shared/follow_logic", :locals => { :person => @person, :current_user => @current_user, :from_view => @from_view, :follow_page_return => @follow_page_return } %>
           </div>

        <% else %>
          <% unless @person.is_me?(@current_user) %>
                <div id="person_detail_follow">
                    <%= render :partial => "api/v1/shared/follow_logic", :locals => { :person => @person, :current_user => @current_user, :from_view => @from_view, :follow_page_return => @follow_page_return } %>
                </div>
          <% end %>
        <% end %>
        <div id="person_info">
          <% if @person.first_name.present? and @person.last_name.present? %>
            <p>
                <b>Name:</b> <%= @person.first_name %> <%= @person.last_name %>
            </p>
          <% end %>

            <% if @person.role.present? %>
                <p>
                  <b>Role:</b> <%= @person.role %>
                </p>
            <% end %>
          <% if @person.company.present? %>
            <p>
              <b>Company:</b> <%= @person.company %>
            </p>
          <% end %>
          <% if @person.location.present? %>
              <p>
                <b>Location:</b> <%= @person.location %>
              </p>
          <% end %>
          <% if @person.looking_for.present? %>
              <p>
                <b>I'm looking to meet:</b>
                <%= @person.looking_for %>
              </p>
          <% end %>

          <% if @person.keywords.present? %>
              <p>
                <b>About:</b>
                <%= @person.keywords %>
                </p>
          <% end %>


        </div>
      <div class="center_button">
        <% if @person.ok_to_contact? && !@person.is_me?(@current_user) %>
            <%= mail_to @person.email, "Contact", :id=>"mail_to_link", :subject => "Request to Connect From Women2
            .0 Connector App", :body=>'\n----\nSent from Women2.0 Connector app. Check it out here: https://t
            .co/YgauYyavt6' %>
        <% end %>
      </div>
      <div style="margin-bottom:30px;color:#ffffff;height:10px;">&nbps;</div>
    </div>
</div>