<tr>
  <td>
    <div class="attending_pic">
       <%= link_to image_tag(person.get_image), api_v1_person_path(person,
                                                                   :auth_token=>current_user.authentication_token) %>
    </div>
    <div class="attending_row">
      <div class="person_title"><%= link_to person.first_name + " " +  person.last_name, api_v1_person_path(person,
      :auth_token=>current_user.authentication_token)%>
      </div>
      <div class="person_content">

          <%= link_to person.company, api_v1_person_path(person,
                                                         :auth_token=>current_user.authentication_token) %>

       <% if person.role.present? %>
       , <%= link_to person.role, api_v1_person_path(person,
                                                                                                                                                         :auth_token=>current_user.authentication_token) %>
                                                                                                              <% end %>
        </div>
    </div>
    <% unless current_user.id.eql?(person.id) %>
       <%= render :partial => "api/v1/shared/follow_logic", :locals => { :person => person, :current_user => current_user } %>
        </td>
    <% end %>
   </td>
 </tr>

