<%= form_for(@person) do |f| %>
<%= f.submit :value => "Done"%>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="profile">
   <div class="profile_cell label">Name</div>
   <div class="profile_cell"> <%= f.text_field :first_name %>
   <%= f.text_field :last_name %></div>
  </div>
  <div class="profile">
    <div class="profile_cell label">Position</div>
    <div class="profile_cell"><%= f.text_field :role %></div>
  </div>
  <div class="profile">
    <div class="profile_cell label"><%= f.label :company %></div>
    <div class="profile_cell"><%= f.text_field :company %></div>
  </div>
    <div class="profile">
      <div class="profile_cell label"><%= f.label :location %></div>
      <div class="profile_cell"><%= f.text_field :location %></div>
    </div>
    <div class="profile">
      <div class="profile_cell label">
      Keywords</div>
      <div class="profile_cell">
        <%= f.text_area :keywords, cols: 20, rows: 3 %>
      </div>
    </div>

<% end %>
