<h1>Listing people</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Role</th>
    <th>Company</th>
    <th>Member</th>
    <th>Attending</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td style="font-style:bold;"><%= person.first_name %></td>
    <td><%= person.get_image %></td>
    <td><%= person.last_name %></td>
    <td><%= person.role %></td>
    <td><%= person.company %></td>
    <td><%= person.member %></td>
    <td><%= person.attending %></td>
    <td><%= person.email %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
