<%= link_to 'Edit', edit_person_path(@person), :class => "edit_button" %>
<div style="width:50px;height:63px;border:1px solid red;">
    <%= image_tag('placeholder.png') %>
    <%= link_to 'Edit', edit_person_path(@person), :class => "pic_edit_button" %>
</div>
<p id="notice"><%= notice %></p>

<div class="profile">
  <div class="profile_cell">Name</div>
  <div class="profile_cell"><%= @person.first_name + " " + @person.last_name %></div>
</div>
  <div class="profile">
    <div class="profile_cell">
      Title
    </div>
    <div class="profile_cell">
    <%= @person.role %></div>
  </div>
  <div class="profile">
    <div class="profile_cell">Company:</div>
    <div class="profile_cell"><%= @person.company %></div>
   </div>
  <div class="profile">
      <div class="profile_cell">Keywords</div>
    <div class="profile_cell"><%= @person.keywords %></div>
   </div>



